// Prototype Colors
$pt-main-black: #2D2D2D;
$pt-main-white: #FFFFFF;
$pt-main-gray: #D9D9D9;
$pt-main-light-gray: #F8F8F8;
$pt-main-dark-gray: #A3A3A3;
$pt-purple: #B311FF;

// Media Queries
$media-query-xs: "(min-width: 500px)";
$media-query-s: "(min-width: 620px)";
$media-query-m: "(max-width: 780px)";
$media-query-l: "(max-width: 1024px)";
$media-query-xl: "(min-width: 1280px)";